---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app home-assistant
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  dependsOn:
    - name: cloudflare-tunnel
      namespace: network
    - name: multus
      namespace: kube-system
    - name: rook-ceph-cluster
      namespace: rook-ceph
  values:
    controllers:
      home-assistant:
        annotations:
          reloader.stakater.com/auto: "true"
        pod:
          annotations:
            k8s.v1.cni.cncf.io/networks: |
              [{
                "name": "macvlan-home",
                "namespace": "kube-system",
                "ips": ["192.168.86.212/24"],
                "gateway": ["192.168.86.1"]
              }]
        containers:
          app:
            image:
              repository: ghcr.io/home-operations/home-assistant
              tag: 2026.1.3@sha256:9f094e0531e5784d1df9bcb817d95830d1da9d4a03c914f8fd1b3cc6168c4e65
            env:
              TZ: "America/New_York"
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 2Gi
    defaultPodOptions:
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
        runAsNonRoot: true
        fsGroup: 1000
    persistence:
      config:
        existingClaim: *app
        globalMounts:
          - subPath: data
    service:
      app:
        type: LoadBalancer
        loadBalancerIP: 192.168.86.212
        ports:
          http:
            port: 8123
          homekittcp:
            port: 21064
            targetPort: 21064
          homekittcp2:
            port: 21065
            targetPort: 21065
          homekitudp:
            port: 5353
            targetPort: 5353
            protocol: UDP
