---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app esphome
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  dependsOn:
    - name: cloudflare-tunnel
      namespace: network
    - name: multus
      namespace: kube-system
  values:
    controllers:
      esphome:
        pod:
          annotations:
            k8s.v1.cni.cncf.io/networks: |
              [{
                "name": "macvlan-home",
                "namespace": "kube-system",
                "ips": ["192.168.86.215/24"],
                "gateway": ["192.168.86.1"]
              }]
        containers:
          app:
            image:
              repository: ghcr.io/home-operations/esphome
              tag: 2025.10.4@sha256:8752b600e7fd3e38b2e2a28aa83f0bdbe0d9dc40e2bfbcb4adf46154cfde5140
            env:
              TZ: "America/New_York"
              ESPHOME_DASHBOARD_USE_PING: true
              PLATFORMIO_CORE_DIR: .platformio
              PLATFORMIO_GLOBALLIB_DIR: .platformioLibs
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  tcpSocket:
                    port: 6052
                    host: 192.168.86.215
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            securityContext:
              allowPrivilegeEscalation: false
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 2Gi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    persistence:
      config:
        existingClaim: *app
      tmpfs:
        type: emptyDir
        advancedMounts:
          esphome:
            app:
              - path: /cache
                subPath: cache
    service:
      app:
        ports:
          http:
            port: &port 6052
    route:
      app:
        hostnames: ["{{ .Release.Name }}.${SECRET_DOMAIN}"]
        parentRefs:
          - name: external
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - identifier: app
                port: *port
