---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./helmrelease.yaml
configMapGenerator:
  - name: homepage-config
    files:
      - ./resources/services.yaml
      - ./resources/settings.yaml
generatorOptions:
  disableNameSuffixHash: true
